@model lawzand.Models.projecttbl
@using lawzand.Models

@{

    lawzandEntities1 dbb = new lawzandEntities1();

    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

</div>
<br />
<hr />
@using (Html.BeginForm("Addproject", "Adminpanel", FormMethod.Post, new { enctype = "multipart/form-data",@id="myform" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Add New Project</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Id</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.projectId, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
        <label class="control-label col-md-2" for="com">Company</label>
        <div class="col-md-10">
    *@
    @*@Html.DropDownList("companyId", new SelectList(ViewBag.company, "companyId", "companyName"), new { @class= "form-control" })*@


    @*<select class="form-control select2" id="company" name="company">
        @{
            foreach (companytbl l in dbb.companytbls.ToList())
            {
                <option value=@l.companyId>@l.companyname</option>
            }
        }

    </select>

</div>
    </div>*@



    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Photo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectpic, new { htmlAttributes = new { @class = "form-control", type = "file" } })
            @Html.ValidationMessageFor(model => model.projectpic, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Preview</label>
        <div class="col-md-10">
            <img src="~/Content/images/@Model.thumb" id="prev" class="img-rounded img-responsive form-control" style="width:600px; height:200px;" />
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectname, new { htmlAttributes = new { @class = "form-control", placeholder = "Project Name", @required = "required" } })
            @Html.ValidationMessageFor(model => model.projectname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Content</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.projectcontent, new { @id = "content", @class = "form-control", @rows = "200" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="lang">Language</label>
        <div class="col-md-10">

            <select class="form-control select2" id="lang" name="lang">
                @{
                    foreach (langtbl l in dbb.langtbls.ToList())
                    {
                        <option value=@l.id>@l.language</option>
                    }
                }

            </select>

        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            @if (ViewBag.result != null)
            {
                <p>@ViewBag.result</p>
            }
        </div>
    </div>
</div>





}

<div>
    @Html.ActionLink("Back to List", "Projects")
</div>


@section scripts{

    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <script>
        $(function () {
            var roxyFileman = '/Content/fileman/index.html';
            CKEDITOR.replace("content", {
                filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload'
            });
        });

          function readURL(input) {
           
            $('#prev').attr('src', '/Content/images/@Model.projectpic');
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#prev').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#projectpic").change(function () {
            readURL(this);
        });


        $('#myform').submit(function () {
            this.submit();
            toastMixin2.fire({
                background: "gray",
                animation: true,
                title: 'بە سەرکەوتویی پاشەکەوت کرا'
            });

            setTimeout(() => { window.open('http://localhost:51291/' + 'Adminpanel/Projects', '_blank'); }, 2000);
            // setTimeout(() => { window.open('http://localhost:51291/' + 'Adminpanel/Uploadtoproject/@Model.projectId', '_blank'); }, 3000);
           
            return false;
        });

    </script>

}