@using System.Text.RegularExpressions;
@using lawzand.Models
@{

  lawzandEntities1 dbb = new lawzandEntities1();

@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = Regex.Replace(input, @"(?></?\w+)(?>(?:[^>'""]+|'[^']*'|""[^""]*"")*)>", String.Empty);
        input = input.Replace("&nbsp;", " ");
       @input
    }
}
    var rec = dbb.contacttbls.FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <title>‌Halwan Company-@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Halwan company">
    <meta name="keywords" content="@StripHTML(dbb.infotbls.Where(x=>x.lang==2).FirstOrDefault().About)">
    <meta name="author" content="Kurdsoft">

    <link href="~/Content/main/english/main.css" rel="stylesheet" />
    <link href="~/Content/js/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/main/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/main/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/main/fav/favicon-16x16.png">
    <link rel="mask-icon" href="~/Content/main/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <style>
        .swal2-popup {
            font-size: 1.8rem;
        }
    </style>
    <link media="only screen and (min-width: 0px) and (max-width: 640px)" rel="stylesheet" type="text/css" href="~/Content/main/english/mobile.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="~/Content/main/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- <script src="bootstrap/bootstrap.min.js"></script>
     <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>-->
    <link href="~/Content/main/english/menu/menu.css" rel="stylesheet" />

    <link href="~/Content/main/animated/animate.css" rel="stylesheet" />
    <script src="~/Content/main/animated/wow.js"></script>

    <link href="~/Content/main/english/SwipJs/seting.css" rel="stylesheet" />


    <link href="~/Content/main/english/SwipJs/swiper.min.css" rel="stylesheet" />
    <script src="~/Content/main/english/SwipJs/swiper.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="~/Content/main/english/carouseljs/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/main/english/carouseljs/owl.theme.default.min.css">
    <script src="~/Content/main/english/carouseljs/owl.carousel.js"></script>
    @RenderSection("style", false)
</head>
<body>
    <div class="topmeun">
        <div class="menucontent">
            <div class="containeritem">
                <a href="mailto:@rec.email"><i class="fa fa-envelope"></i>@rec.email </a> <a href="tel:@rec.phone"> <i class="fa fa-phone"></i>@rec.phone </a>
            </div>
            <div class="containeritem2">
                <a href="/Home/Index">Kurdish</a>  <a href="/Arabic/Index">Arabic</a>   <a href="@rec.fb" target="_blank"><i class="fab fa-facebook-f"></i></a>    <a href="@rec.youtube" target="_blank"><i class="fab fa-youtube"></i></a>   <a href="@rec.othersocial" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="menucontent">
            <header class="right_menu">
                <input type="checkbox" id="main_menu" name="main_menu" />
                <label for="main_menu2"><a href="tel:@rec.phone"> <i class="fas fa-phone"></i></a></label>
                <span class="logo"> <a href="./"><img src="~/Content/main/images/mainlogo.svg" /></a></span>
                <label for="main_menu">
                    <div class="hamburger hamburger--elastic" type="button"
                         aria-label="Menu" aria-controls="main_menu"><span class="hamburger-box"> <span class="hamburger-inner"></span> </span></div>
                </label>
                <nav>
                    <ul>
                        <li>
                            <a class="logo" href="./"><img src="~/Content/main/images/mainlogo.svg" /></a>
                        </li>


                        <li>@Html.ActionLink("Contact", "Contact", "English")</li><li>
                         @Html.ActionLink("About Us", "About", "English") </li><li>
                        <a href="#">Shop</a></li><li>
                        @Html.ActionLink("Gallery", "Gallery", "English") </li><li>
                         @Html.ActionLink("Projects", "AllProjects", "English") </li><li>
                         @Html.ActionLink("Services", "AllServices", "English") </li><li>
                         @Html.ActionLink("Home", "Index", "English")</li>

                    </ul>
                </nav>
            </header>
        </div>
    </div>

    @RenderBody()


    <div class="footerr">
        <div class="footerrcontent">
            <div class="footerrcolmap">
                <iframe height="270" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=35.55809693211272, 45.427366052965176&amp;ie=UTF8&z=16&amp;&amp;output=embed"></iframe>

            </div>
            <div class="footerrcolpart">
                <h4>Parts</h4>
                <a href="./"><i class="fas fa-angle-right"></i> Home</a>
                <a href="AllServices"><i class="fas fa-angle-right"></i> Services</a>
                <a href="AllProjects"><i class="fas fa-angle-right"></i> gallery</a>
                <a href="#"><i class="fas fa-angle-right"></i> Shop</a>
                <a href="About"><i class="fas fa-angle-right"></i> About</a>
                <a href="Content"><i class="fas fa-angle-right"></i> Contact</a>
            </div>
            <div class="footerrcolpart">
                <h4>Get in touch</h4>
                <div>
                    <i class="fas fa-map-marker-alt"></i> @dbb.infotbls.Where(x => x.lang == 2).FirstOrDefault().adress
                </div>
                <div>
                    <a href="tel:@rec.phone"><i class="fas fa-phone"></i> <span>@rec.phone</span></a>
                </div>
                <div>
                    <a href="mailto:@rec.email">   <i class="far fa-paper-plane"></i>  <span>@rec.email</span></a>
                </div>
                <div class="cosials">
                    <a href="@rec.fb"><i class="fab fa-facebook-f"></i></a>
                    <a href="@rec.othersocial"><i class="fab fa-instagram"></i></a>
                    <a href="@rec.youtube"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="toptiplang">
                  <a href="/Arabic/Index" >عربي</a><a>|</a><a href="/" >کوردی</a>  <i class="fa fa-globe" title="Languages"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="underfooter">
        <div class="maincontent">

            &copy 2021, Halwan Company, All right reserved.<span> Developed by <a href="https://www.kurdsoft.net" target="_blank">Kurdsoft</a></span>
        </div>
    </div>


    <script>
        var swiper = new Swiper('.swiper1', {
            pagination: {
                el: '.swiper-pagination1',
                dynamicBullets: true,
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,
                rtl: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <script>
        new WOW().init();
    </script>

    <script src="~/Content/js/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Content/js/sweetalert2/sweet-alerts.init.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>


    <script>
        var toastMixin2 = Swal.mixin({
            toast: true,
            icon: 'success',
            title: 'General Title',
            animation: false,
            position: 'top-left',
            showConfirmButton: false,
            timer: 8000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        $(function () {

            $.connection.chatHub.client.addNewMessageToPage = function (name, message) {
                // console.log(JSON.stringify(triggerEventRequest));
                // $('#events').prepend(JSON.stringify(triggerEventRequest) + "\n");

                if (name.toLowerCase().indexOf("eng") >= 0) {


                    toastMixin2.fire({
                        background: "gray",
                        animation: true,
                        title: htmlEncode(message)
                    });
                };
            }

            $.connection.hub.start();

        });

        //var chat = $.connection.chatHub;

        //$(function () {

        //    chat.client.addNewMessageToPage = function (name, message) {
        //        alert(chat + "");
        //        //  $('#discussion').append('<ul style="list-style-type:square"><li><strong style="color:red;font-style:normal;font-size:medium;text-transform:uppercase">' + htmlEncode(name) + '  ' + '<strong style="color:black;font-style:normal;font-size:medium;text-transform:lowercase">said</strong>'
        //        //    + '</strong>: ' + '<strong style="color:blue;font-style:oblique;font-size:medium">' + htmlEncode(message) + '</strong>' + '</li></ul>');
        //        //Swal.fire({
        //        //    position: 'top-end',
        //        //    icon: 'success',
        //        //    title: htmlEncode(message),
        //        //    showConfirmButton: false,
        //        //    timer: 2000
        //        //})

        //    };



        //});



        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>

</body>
</html>

